<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

       <property name="LOG_HOME" value="/home/popo/logs/camellia-console"/>

       <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
              <encoder>
                     <pattern>%d %-5p %t %X %c{1}:%L - %m%n</pattern>
              </encoder>
       </appender>

       <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
              <file>${LOG_HOME}/app.log</file>
              <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                     <fileNamePattern>${LOG_HOME}/app.log.%i</fileNamePattern>
                     <maxIndex>5</maxIndex>
              </rollingPolicy>
              <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                     <maxFileSize>300MB</maxFileSize>
              </triggeringPolicy>
              <encoder>
                     <pattern>%d %-5p %t %X %c{1}:%L - %m%n</pattern>
              </encoder>
       </appender>

       <appender name="STATS" class="ch.qos.logback.core.rolling.RollingFileAppender">
              <file>${LOG_HOME}/stats.log</file>
              <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                     <fileNamePattern>${LOG_HOME}/stats.log.%i</fileNamePattern>
                     <maxIndex>5</maxIndex>
              </rollingPolicy>
              <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                     <maxFileSize>300MB</maxFileSize>
              </triggeringPolicy>
              <encoder>
                     <pattern>%d %-5p %t %X %c{1}:%L - %m%n</pattern>
              </encoder>
       </appender>


       <logger name="com.netease.nim.camellia.console" level="INFO" additivity="false" >
              <appender-ref ref="STATS" />
              <appender-ref ref="STDOUT"/>
       </logger>
       <logger name="com.netease.nim.camellia.console.dao.mapper.DashboardMapper" level="OFF"/>

       <logger name="status" level="INFO" additivity="false" >
              <appender-ref ref="STATS" />
              <appender-ref ref="STDOUT"/>
       </logger>
       <root level="INFO">
              <appender-ref ref="APP" />
              <appender-ref ref="STDOUT"/>
       </root>

</configuration>